<div class="nav">
    <a class="back" href="#"></a>
    <h1>我的房源</h1>
</div>
<div class="container">
    <div class="house-list">
        <%_.each(realties, function(v,i){ %>
        <a href="#" class="house-info" data-id="<%=v.id%>">
            <img src="./pic/show1.png" />
            <div class="info-block">
                <p class="info-title"><%=v.title%></p>
                <p class="info-data"><%=v.room%>室<%=v.hall%>厅<%=v.wash%>卫&nbsp;|&nbsp;<%=v.area%>m<sup>2</sup>&nbsp;|&nbsp;<%=v.floor%>/<%=v.total_height%>F</p>
                <p class="info-price"><%=v.price%><span class="unit">元/月</span></p>
            </div>
        </a>
        <%})%>
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a href="#" class="house-info">-->
            <!--<img src="./pic/show1.png" />-->
            <!--<div class="info-block">-->
                <!--<p class="info-title">康桥二村</p>-->
                <!--<p class="info-data">3室2厅2厨2卫&nbsp;|&nbsp;120m<sup>2</sup>&nbsp;|&nbsp;3/18F</p>-->
                <!--<p class="info-price">6000<span class="unit">元/月</span></p>-->
            <!--</div>-->
        <!--</a>-->
    </div>
</div>
<ul class="tab1">
    <li>
        <i class="icon icon-home"></i>
        <span>首页</span>
    </li>
    <li>
        <i class="icon icon-note"></i>
        <span>约看日程</span>
    </li>
    <li>
        <i class="icon icon-person"></i>
        <span>我的</span>
    </li>
</ul>